@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
*{
    font-family: Mulish;
}

/* Header section */
header{
    width: 1170px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}
nav img{
    width: 48px;
    height: 56px;
    margin-right: 5px;
    padding-top: 25px;
}
header h2{
    color: #131318;
    padding: 0;
    font-size: 2.25rem;
}
span{
    color: #FF5400;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 40px;
}

nav li a{
    text-decoration: none;
    color: #424247;
    font-size: 1.15rem;
    font-weight: 400;
}
/* Banner Section Style */
.banner-container{
    width: 1170px;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%), url(../images/Group\ 13.png); 
    border-radius: 16px;
}
.banner-heading h1{
    color: white;
    font-size: 4rem; 
    font-weight: 800; 
    word-wrap: break-word;
    text-align: center; 
    padding-top: 106px;
}
.banner-heading p{
    width: 676px;
    height: 52px;
    text-align: center; 
    color: white; 
    font-size: 1rem; 
    font-weight: 400;
    word-wrap: break-word;
    padding-left: 250px;
}
.search-container {
    width: 800px;
    height: 84px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    display: flex;
    margin: auto;
}

.search-input {
    width: 174px;
    height: 52px;
    position: relative;
}

.input-field {
    width: 100%;
    height: 100%;
    position: absolute;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    border-radius: 8px;
}

.label {
    left: 16px;
    top: 16px;
    position: absolute;
    text-align: center;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}

.rotate-arrow {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(19, 19, 24, 0.70);
    left: 150px;
    top: 30px;
    position: absolute;
    transform: rotate(-180deg);
    transform-origin: 0 0;
}

.arrow-icon {
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.arrow-line {
    width: 18px;
    height: 18px;
    border: 1.50px white solid;
}

.search-button {
    width: 174px;
    height: 52px;
    position: relative;
}

.button-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #FF5400;
    border-radius: 8px;
}

.button-content {
    width: 105px;
    height: 24px;
    left: 35px;
    top: 14px;
    position: absolute;
}

.button-label {
    left: 32px;
    top: 2px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
}

/* Our popular tours style */

main{
    width: 1170px;
    margin: auto;
}
.popular-tours {
    text-align: left;
    color: #131318;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    
}
.popular-tours-content{
    width: 577px;
    margin-right: 53px;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.description {
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
.description > li{
    margin-bottom: 15px;
    width: 450px;
}

.additional-info {
    width: 530px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
}

.tour-image {
    width: 500px;
    height: 480px;
    border-radius: 16px;
}

.cta-button {
    width: 174px;
    height: 52px;
    background: #FF5400;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-weight: 800;
    word-wrap: break-word;
    padding-top: 18px;
}


/* Destination section style */

.destination-headline {
    margin-top: 100px;
    text-align: center;
    color: #131318;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
}

.description-card {
    width: 643px;
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-left: 280px;
}

.card-row-1, .card-row-2, .card-row-3{
    display: flex;
    gap: 24px;   
}
.card-row-1{
    margin-top: 48px;
    height: 300px; 
}
.Maldives{
    width: 573px;
    height: 300px; 
    background-image: url(../images/maldiv.png);
    background-repeat: no-repeat;
    border-radius: 16px; 
 
}
.Maldives-text{
    text-align: center; 
    color: white;
    font-size: 2rem;
    font-weight: 800;  
    padding-top: 132px;
}
.Indonesia{
    width: 573px;
    height: 300px; 
    background-image: url(../images/indo.png);
    background-repeat: no-repeat;
    border-radius: 16px;
}
.Indonesia-text{
    text-align: center; 
    color: white;
    font-size: 2rem;
    font-weight: 800;  
    padding-top: 132px;
}
.card-row-2{
    margin-top: 24px;
    height: 286px; 
}
.Srilanka{
    width: 374px;
    background-image: url(../images/sri.png);
    background-repeat: no-repeat;
    border-radius: 16px;

}
.Srilanka-text{
    text-align: center; 
    color: white;
    font-size: 1.5rem;
    font-weight: 800;  
    padding-top: 132px;
}
.North-America{
    width: 474px;
    background-image: url(../images/north.png);
    background-repeat: no-repeat;
    border-radius: 16px;
}
.North-America-text{
    text-align: center; 
    color: white;
    font-size: 1.5rem;
    font-weight: 800;  
    padding-top: 132px;
}
.Kashmir{
    width: 274px;
    background-image: url(../images/north.png);
    background-repeat: no-repeat;
    border-radius: 16px;
}
.Kashmir-text{
    text-align: center; 
    color: white;
    font-size: 1.5rem;
    font-weight: 800;  
    padding-top: 132px;
}
.card-row-3{
    margin-top: 24px;
    height: 300px; 
}
.Bangladesh{
    width: 473px;
    background-image: url(../images/bangla.png);
    background-repeat: no-repeat;
    border-radius: 16px; 
 
}
.Bangladesh-text{
    text-align: center; 
    color: white;
    font-size: 2rem;
    font-weight: 800;  
    padding-top: 132px;
}
.Bandorban{
    width: 673px;
    background-image: url(../images/bandor.png);
    background-repeat: no-repeat;
    border-radius: 16px; 
 
}
.Bandorban-text{
    text-align: center; 
    color: white;
    font-size: 2rem;
    font-weight: 800;  
    padding-top: 132px;
}

/* Why choose us section */
.why-choose-us-headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 48px;
}
.why-choose-us-header{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.why-choose-us-sub-header{
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}
.why-choose-us-row-1{
    display: flex;
}
.why-choose-us-part-1, .why-choose-us-part-2, .why-choose-us-part-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 250px;
    background: rgba(251, 181, 99, 0.05);
    border-radius: 16px; 
    border: 1px rgba(251, 181, 99, 0.20) solid;
    margin-right: 24px;
    padding-top: 50px;
    padding-left: 32px;
    padding-right: 32px;
}
.why-choose-us-title, .why-choose-us-description, .why-choose-us-image{
    padding-bottom: 20px;
}

.why-choose-us-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    word-wrap: break-word
}
.why-choose-us-description{
    width: 486px;
    height: 78px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
.why-choose-us-row-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}
